
Ignore apenas arquivos e pastas do ambiente virtual e arquivos temporários

# Ambiente virtual
venv/
Lib/
Include/
Scripts/
pyvenv.cfg

# Arquivos temporários
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações do VSCode
.vscode/

# Arquivos de ambiente
.env